# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [1]:
#import necessary libraries
import pandas as pd 
from matplotlib import pyplot as plt

In [6]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
df = pd.read_csv("telecom_customer_churn.csv")
#2. change the settings to display all the columns
#3. check the number of rows and columns
df.shape
#4. check the top 5 rows
df.head(5)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   gender             7043 non-null   object
 2   senior_citizen     7043 non-null   int64
 3   partner            7043 non-null   object
 4   dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   phone_service      7043 non-null   object
 7   multiple_lines     7043 non-null   object
 8   internet_service   7043 non-null   object
 9   online_security    7043 non-null   object
 10  online_backup      7043 non-null   object
 11  device_protection  7043 non-null   object
 12  tech_support       7043 non-null   object
 13  streaming_tv       7043 non-null   object
 14  streaming_movies   7043 non-null   object
 15  contract           7043 non-null   object
 16  paperless_billing  7043 non-null   object
 17  payment_method     7043 non-null   object
 18  monthly_charges    7043 non-null   float64
 19  total_charges      7043 non-null   object
 20  churn              7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [7]:
#display all the column names

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   gender             7043 non-null   object
 2   senior_citizen     7043 non-null   int64
 3   partner            7043 non-null   object
 4   dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   phone_service      7043 non-null   object
 7   multiple_lines     7043 non-null   object
 8   internet_service   7043 non-null   object
 9   online_security    7043 non-null   object
 10  online_backup      7043 non-null   object
 11  device_protection  7043 non-null   object
 12  tech_support       7043 non-null   object
 13  streaming_tv       7043 non-null   object
 14  streaming_movies   7043 non-null   object
 15  contract           7043 non-null   object
 16  paperless_billing  7043 non-null   object
 17  payment_method     7043 non-null   object
 18  monthly_charges    7043 non-null   float64
 19  total_charges      7043 non-null   object
 20  churn              7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [8]:
# Check if the dataset contains nulls
df.isnull()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7039,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7040,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7041,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7042,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
#check the datatype of all columns

In [5]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [11]:
df.monthly_charges.mean(),df.monthly_charges.mode(),df.monthly_charges.median()

(np.float64(64.76169246059918),
 0    20.05
 Name: monthly_charges, dtype: float64,
 np.float64(70.35))

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

Q5 - What is the third quartile of the total_charges column for customers who have churned?

Q6-  What is the mode of the payment method column for customers who have churned?

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [8]:
# Filter the rows based on the churn status and contract type


# Calculate the mean of the total charges column


# Print the result

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [9]:
# Filter the rows based on the churn status and contract type


# Calculate the median of the tenure column


# Print the result